#tsparticles{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    color: white;
    top:0;
    overflow: hidden;
}